@model HapoTravelRequest.Models.TravelRequest.TravelRequestBookVM

@{
    ViewData["Title"] = "Travel Request Details";
}

<h2>Travel Request Details</h2>

<hr />
<div class="mb-4">
    <form asp-action="AddComment" method="post" class="my-4" id="add-comment-form">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="NewComment" class="control-label"></label>
            <textarea asp-for="NewComment" class="form-control" rows="4"></textarea>
            <span asp-validation-for="NewComment" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-2 mb-4">Submit Comment</button>
    </form>

    <hr />
    <h4>Comments</h4>
    <div class="row">
        <div class="col-md-6">
            <div id="comments-container">
                @* div for comments *@
            </div>
        </div>
    </div>
</div>

<h4>Employee Information</h4>
<form asp-controller="TravelRequests" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="redirectAction" value="ViewTravelRequests" />
    <input type="hidden" name="redirectController" value="TravelRequests" />
    <div class="row">
        <div class="col-md-6">
            <p><strong>@Html.DisplayNameFor(m => m.FirstName):</strong> @Model.FirstName</p>
            <p><strong>@Html.DisplayNameFor(m => m.LastName):</strong> @Model.LastName</p>
            <p><strong>@Html.DisplayNameFor(m => m.DateOfBirth):</strong> @Model.DateOfBirth</p>
            <p><strong>@Html.DisplayNameFor(m => m.PhoneNumber):</strong> @Model.PhoneNumber</p>
        </div>
        <div class="col-md-6">
            <p><strong>@Html.DisplayNameFor(m => m.Department):</strong> @Model.Department</p>
            <p><strong>@Html.DisplayNameFor(m => m.PositionTitle):</strong> @Model.PositionTitle</p>
            <p><strong>@Html.DisplayNameFor(m => m.DepartmentDirector):</strong> @Model.DepartmentDirector</p>
        </div>
    </div>

    <hr />
    <h4>Conference & Travel Information</h4>
    <div class="row">
        <div class="col-md-6">
            <p><strong>@Html.DisplayNameFor(m => m.PurposeOfTravel):</strong> @Model.PurposeOfTravel</p>
            <p><strong>@Html.DisplayNameFor(m => m.NonEmployeeGuests):</strong> @(Model.NonEmployeeGuests ? "Yes" : "No")</p>
            <p><strong>@Html.DisplayNameFor(m => m.NonEmployeeLegalName):</strong> @Model.NonEmployeeLegalName</p>
            <p><strong>@Html.DisplayNameFor(m => m.NonEmployeeDOB):</strong> @Model.NonEmployeeDOB?.ToShortDateString()</p>
            <p><strong>@Html.DisplayNameFor(m => m.ConferenceDescription):</strong> @Model.ConferenceDescription</p>
            <p><strong>@Html.DisplayNameFor(m => m.ConferenceLink):</strong> @Model.ConferenceLink</p>
            <p><strong>@Html.DisplayNameFor(m => m.AlternativeText):</strong> @Model.AlternativeText</p>
            <p><strong>@Html.DisplayNameFor(m => m.Location):</strong> @Model.Location</p>
            <label asp-for="CostOfConference" class="control-label"></label>
            <input asp-for="CostOfConference" class="form-control" />
            <span asp-validation-for="CostOfConference" class="text-danger"></span>

            <label asp-for="ConferenceStartDate" class="control-label"></label>
            <input asp-for="ConferenceStartDate" class="form-control" placeholder="mm/dd/yyyy" />
            <span asp-validation-for="ConferenceStartDate" class="text-danger"></span>

            <label asp-for="ConferenceEndDate" class="control-label"></label>
            <input asp-for="ConferenceEndDate" class="form-control" placeholder="mm/dd/yyyy" />
            <span asp-validation-for="ConferenceEndDate" class="text-danger"></span>

            <p><strong>@Html.DisplayNameFor(m => m.RegistrationDeadline):</strong> @Model.RegistrationDeadline?.ToShortDateString()</p>

            <label asp-for="DepartureDate" class="control-label"></label>
            <input asp-for="DepartureDate" class="form-control" placeholder="mm/dd/yyyy" />
            <span asp-validation-for="DepartureDate" class="text-danger"></span>

            <label asp-for="ReturnDate" class="control-label"></label>
            <input asp-for="ReturnDate" class="form-control" placeholder="mm/dd/yyyy" />
            <span asp-validation-for="ReturnDate" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <p><strong>@Html.DisplayNameFor(m => m.EmployeesAttending):</strong> @Model.EmployeesAttending</p>
            <p><strong>@Html.DisplayNameFor(m => m.EmployeesAttendingNames):</strong> @Model.EmployeesAttendingNames</p>

            <label asp-for="ConferenceHotelName" class="control-label"></label>
            <input asp-for="ConferenceHotelName" class="form-control" />
            <small class="form-text text-muted">Preferred hotel for conference.</small>
            <span asp-validation-for="ConferenceHotelName" class="text-danger"></span>

            <p><strong>@Html.DisplayNameFor(m => m.PreferredLodgingInfo):</strong> @Model.PreferredLodgingInfo</p>
            <p><strong>@Html.DisplayNameFor(m => m.SpecialTravelRequest):</strong> @Model.SpecialTravelRequest</p>

            <label asp-for="TransportationMode" class="control-label"></label>
            <input asp-for="TransportationMode" class="form-control" />
            <span asp-validation-for="TransportationMode" class="text-danger"></span>

            <label asp-for="AirlineDetails" class="control-label"></label>
            <textarea asp-for="AirlineDetails" class="form-control"></textarea>
            <small class="form-text text-muted">Preferred Flights (carrier, flight # and preferred times).</small>
            <span asp-validation-for="AirlineDetails" class="text-danger"></span>

            <label asp-for="FlightCost" class="control-label"></label>
            <input asp-for="FlightCost" class="form-control" />
            <span asp-validation-for="FlightCost" class="text-danger"></span>

            <label asp-for="GroundTransportation" class="control-label"></label>
            <input asp-for="GroundTransportation" class="form-control" />
            <small class="form-text text-muted">Other than Taxi/Uber</small>
            <span asp-validation-for="GroundTransportation" class="text-danger"></span>

            <label>Mileage Reimbursement?</label>
            <input type="radio" asp-for="MileageReimbursement" value="true" id="MileageReimbursementYes" />
            <label for="Registered">Yes</label>
            <input type="radio" asp-for="MileageReimbursement" value="false" id="MileageReimbursementNo" />
            <label for="MileageReimbursement">No</label>


            <label asp-for="MileageRoundTrip" class="control-label"></label>
            <input asp-for="MileageRoundTrip" class="form-control" />
            <span asp-validation-for="MileageRoundTrip" class="text-danger"></span>


            <label>Meals & Incidentals (M&IE)</label>
            <input type="radio" asp-for="MIE" value="true" id="MIEYes" />
            <label for="MIE">Yes</label>
            <input type="radio" asp-for="MIE" value="false" id="MIENo" />
            <label for="MIE">No</label>
            <small class="form-text text-muted">If traveling within the Pacific NW: 1 meal and mileage reimbursement day(s) of travel will be included</small>

            <label asp-for="DailyMIEAmount" class="control-label"></label>
            <input asp-for="DailyMIEAmount" class="form-control" />
            <span asp-validation-for="DailyMIEAmount" class="text-danger"></span>

            <label asp-for="DaysForMIE" class="control-label"></label>
            <input asp-for="DaysForMIE" class="form-control" />
            <span asp-validation-for="DaysForMIE" class="text-danger"></span>

            <label asp-for="DepositAccount" class="control-label"></label>
            <input asp-for="DepositAccount" class="form-control" />
            <span asp-validation-for="DepositAccount" class="text-danger"></span>

            <label asp-for="AccountType" class="control-label"></label>
            <input asp-for="AccountType" class="form-control" />
            <span asp-validation-for="AccountType" class="text-danger"></span>


            <label>Corporate Card?</label>
            <input type="radio" asp-for="CorporateCard" value="true" id="CorporateCardYes" />
            <label for="CorporateCard">Yes</label>
            <input type="radio" asp-for="CorporateCard" value="false" id="CorporateCardNo" />
            <label for="CorporateCard">No</label>
            <small class="form-text text-muted">If Yes- Same allowance for M*IE apply. There will be no deposit into your account.</small>



            <p><strong>@Html.DisplayNameFor(m => m.EmergencyContactname):</strong> @Model.EmergencyContactname</p>
            <p><strong>@Html.DisplayNameFor(m => m.EmergencyContactPhoneNumber):</strong> @Model.EmergencyContactPhoneNumber</p>
            <p><strong>@Html.DisplayNameFor(m => m.TSANumber):</strong> @Model.TSANumber</p>

            <label asp-for="GroundOptions" class="control-label"></label>
            <input asp-for="GroundOptions" class="form-control" />
            <span asp-validation-for="GroundOptions" class="text-danger"></span>

            <label>Registered For Conference</label>
            <div>
                <input type="radio" asp-for="RegisteredForConference" value="true" id="RegisteredForConferenceYes" />
                <label for="RegisteredForConference">Yes</label>
                <input type="radio" asp-for="RegisteredForConference" value="false" id="RegisteredForConferenceNo" />
                <label for="RegisteredForConference">No</label>
            </div>
            <div class="form-group col-md-3">
                <label>Registered?</label>
                <div>
                    <input type="radio" asp-for="Registered" value="true" id="RegisteredYes" />
                    <label for="Registered">Yes</label>
                    <input type="radio" asp-for="Registered" value="false" id="RegisteredNo" />
                    <label for="Registered">No</label>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-action-bar">
        <button type="submit" asp-action="Book" class="btn btn-success me-2">Submit</button>
        <button type="submit" asp-action="Cancel" class="btn btn-danger">Cancel</button>
    </div>
</form>


@section Scripts {
    <script>
        function loadComments() {
            var travelRequestId = $('input[name="Id"]').val();
            $.get('@Url.Action("GetComments", "TravelRequests")', { id: travelRequestId }, function (data) {
                $('#comments-container').hide().html(data).fadeIn(400);
            });
        }

        $(document).ready(function () {
            loadComments();

            $('#add-comment-form').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                $.post(form.attr('action'), form.serialize(), function () {
                    form[0].reset();
                    loadComments();
                });
            });
        });
    </script>
}
