@model HapoTravelRequest.Data.TravelRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TravelRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurposeOfTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurposeOfTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonEmployeeLegalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonEmployeeLegalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonEmployeeDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonEmployeeDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConferenceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferenceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConferenceLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferenceLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativeText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativeText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfConference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfConference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConferenceStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferenceStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConferenceEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferenceEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesAttending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeesAttending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesAttendingNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeesAttendingNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConferenceHotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferenceHotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredLodgingInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredLodgingInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialTravelRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialTravelRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportationMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportationMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroundTransportation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroundTransportation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MileageReimbursement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MileageReimbursement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MileageRoundTrip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MileageRoundTrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MIE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MIE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMIEAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyMIEAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysForMIE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysForMIE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
