@model List<HapoTravelRequest.Models.TravelRequest.TravelRequestListVM>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div class="request-container">
    <h2 class="request_header">My Requests</h2>
    <div class="request-table">
        <table>
            <thead>
                <tr>
                    <th>
                        Employee Name
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Transportation
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Quick Action
                    </th>
                </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName @item.LastName
                    </td>
                    <td>
                        @item.Location
                    </td>
                    <td>
                        @item.ConferenceStartDate?.ToShortDateString() - @item.ConferenceEndDate?.ToShortDateString()
                    </td>
                    <td>
                        @item.TransportationMode
                    </td>
                    <td>
                        $@item.CostOfConference
                    </td>
                    <td>
                        Buttons Placeholder
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div class="btn container">
    <!--Replace Privacy with create travel request location-->
    <button class="create-request" onclick="window.location.href='Home/Privacy';">
        <span>📅</span> Create Travel Request
    </button>
</div>